.container {
    margin: .6rem;
    padding: .6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto;
    height: 4rem;
    background-color: burlywood;
}

.logo {
    /* height: 4rem; */
    width: 4rem;
}

.navItems {}